.battle-user-info {
  & > .d-flex > div {
    display: flex;
    flex-direction: column;

    width: 100%;

    justify-content: flex-end;
  }

  .opponent-preview {
    display: flex;

    align-items: center;

    small {
      font-size: 10px;

      display: flex;

      width: 15px;
      height: 15px;

      border-radius: 50%;

      align-items: center;
      justify-content: center;
    }
  }

  &.battle-hover {
    position: absolute;
    right: 0;
    left: 0;
    left: 15%;

    width: 70%;
    padding: 5px;

    opacity: .5;
    border: 1px solid var(--battletris-border);
    background-color: var(--battletris-card-bg);
  }
}
