.battletris-dark {
  // general styles
  --battletris-bg: #5e6264;
  --battletris-nav-bg: #212529;
  --battletris-nav-color: #ffffff;
  --battletris-card-header-bg: #212529;
  --battletris-card-header-color: #212529;
  --battletris-card-bg: #212529;
  --battletris-card-border: #fff;
  --battletris-card-color: #fff;

  // game colors
  // reset color
  --battletris-block-bg--1: var(--battletris-card-bg);
  // opponent stacked blocks
  --battletris-block-bg--2: #808080;
  // next dock block preview
  --battletris-block-bg--3: rgba(58, 232, 255, 0.1);
  // block colors
  --battletris-block-bg-0: #00f0f2;
  --battletris-block-bg-1: #1002ea;
  --battletris-block-bg-2: #eea102;
  --battletris-block-bg-3: #f2ef01;
  --battletris-block-bg-4: #03f000;
  --battletris-block-bg-5: #9f00e8;
  --battletris-block-bg-6: #f10000;
  --battletris-block-border: #212529;
}
