.battletris-light {
  // general styles
  --battletris-bg: #e2e2e2;
  --battletris-border: #e2e2e2;
  --battletris-card-active: #000000;
  --battletris-card-bg: #ffffff;
  --battletris-card-border: #343a40;
  --battletris-card-color: #000000;
  --battletris-card-header-bg: #343a40;
  --battletris-card-header-color: #ffffff;
  --battletris-nav-bg: #343a40;
  --battletris-nav-color: #ffffff;

  // class icon color
  --battletris-class-ability-color: #000000;
  --battletris-class-icon-color: #000000;
  --battletris-class-icon-color-active: #5074c1;

  // game colors
  // mana color
  --battletris-mana-bg: #1874cd;
  --battletris-armor-bg: #d61919;
  --battletris-resource-color: #000000;
  // reset color
  --battletris-block-bg--1: var(--battletris-card-bg);
  // opponent stacked blocks
  --battletris-block-bg--2: #808080;
  // next dock block preview
  --battletris-block-bg--3: rgba(58, 232, 255, 0.1);
  // block colors
  --battletris-block-bg-0: #00f0f2;
  --battletris-block-bg-1: #1002ea;
  --battletris-block-bg-2: #eea102;
  --battletris-block-bg-3: #f2ef01;
  --battletris-block-bg-4: #03f000;
  --battletris-block-bg-5: #9f00e8;
  --battletris-block-bg-6: #f10000;
  --battletris-block-border: var(--battletris-card-bg);

  // analytics
  --battletris-analytics-bg: #5074c1;
  --battletris-analytics-line: #000000;
}
