.battletris-light {
  --battletris-bg: #e6e6e6;
  --battletris-block-bg--1: var(--nes-container-bg);
  --battletris-block-bg-0: #00f0f2;
  --battletris-block-bg-1: #1002ea;
  --battletris-block-bg-2: #eea102;
  --battletris-block-bg-3: #f2ef01;
  --battletris-block-bg-4: #03f000;
  --battletris-block-bg-5: #9f00e8;
  --battletris-block-bg-6: #f10000;
  --battletris-block-bg-7: #808080;
  --battletris-block-border: #ffffff;
  --nes-container-bg: #ffffff;
  --nes-container-border: #000;
  --nes-container-color: #000;
}
