.resource-bar {
  position: relative;

  width: calc(100% - 10px);
  height: 10px;

  text-align: center;

  background-color: var(--battletris-bg);

  small {
    font-size: 8px;

    position: absolute;
    z-index: 2;
    right: 0;
    left: 0;

    display: block;

    color: var(--battletris-resource-color);
  }

  & > div {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    height: 100%;

    transition: 300ms ease-out width;
  }
}
