.border {
  border: 1px solid var(--battletris-border) !important;
}
.border-top {
  border-top: 1px solid var(--battletris-border) !important;
}
.border-bottom {
  border-bottom: 1px solid var(--battletris-border) !important;
}
.border-left {
  border-left: 1px solid var(--battletris-border) !important;
}
.border-right {
  border-right: var(--battletris-border) !important;
}

.navbar {
  height: 70px;
  min-height: 70px;

  border-bottom: 1px solid var(--battletris-content-border);
  background-color: var(--battletris-nav-bg);

  &,
  i,
  .dropdown-toggle,
  a h5 {
    color: var(--battletris-nav-color);
  }
}

.card {
  display: flex;

  color: var(--battletris-card-color);
  border: 2px solid var(--battletris-card-border);
  background-color: var(--battletris-card-bg);

  &.active-card {
    border: 2px solid var(--battletris-card-active);
  }

  .card-header {
    display: flex;

    border-bottom: 1px solid var(--battletris-border);
    background-color: var(--battletris-card-header-bg);

    align-items: center;
    justify-content: space-between;

    &,
    * {
      color: var(--battletris-card-header-color);
    }

    & > * {
      margin-bottom: 0;
    }
  }
}

.list-group-item {
  color: var(--battletris-card-color);
  background-color: var(--battletris-card-bg);
}

.nav-tabs {
  z-index: 1;

  margin-bottom: 1px;

  border-bottom: 0;

  .nav-item {
    margin-bottom: 0;

    .nav-link {
      color: var(--battletris-card-header-color);
      border: 1px solid var(--battletris-bg);
      border-bottom: 0;
      background-color: var(--battletris-card-header-bg);
    }

    .nav-link.active {
      height: calc(100% + 1px);

      color: var(--battletris-card-header-color);
    }
  }
}

.modal-header {
  border-bottom: 1px solid var(--battletris-border);
}

.modal-content {
  color: var(--battletris-card-color);
  background-color: var(--battletris-card-bg);
}

.modal-footer {
  border-top: 1px solid var(--battletris-border);
}
