@import './Press_Start_2P/press_start_2p';
@import '~@mdi/font/css/materialdesignicons.css';
@import '~bootstrap/scss/bootstrap';
@import '~nes.css/css/nes.css';

// register themes
@import './themes/dark';
@import './themes/final-fantasy';
@import './themes/light';

// import custom battletris nes adjustments
@import './nes-custom';

html,
body {
  height: 100%;
}

body.battletris {
  font-size: 10px;

  overflow-y: auto;

  margin: 0;
  padding: 0;

  background-color: var(--battletris-bg);

  &,
  * {
    font-family: 'press_start_2p';
  }

  .battletris-map {
    display: flex;
    flex-direction: column;

    border: 1px solid gray;

    .map-row {
      display: flex;
      flex-direction: row;

      .map-column {
        width: 10%;

        // http://www.mademyday.de/css-height-equals-width-with-pure-css.html
        &:before {
          display: block;

          padding-top: 100%;  /* initial ratio of 1:1*/

          content: '';
        }
      }
    }
  }
}
