@import './Press_Start_2P/press_start_2p';
@import '~@mdi/font/css/materialdesignicons.css';
@import '~bootstrap/scss/bootstrap';
@import '~nes.css/css/nes.css';

// register themes
@import './themes/dark';
@import './themes/final-fantasy';
@import './themes/light';

// import custom battletris nes adjustments
@import './nes-custom';

html,
body {
  height: 100%;
}

body.battletris {
  font-size: 10px;

  overflow-y: auto;

  margin: 0;
  padding: 0;

  background-color: var(--battletris-bg);

  &,
  * {
    font-family: 'press_start_2p';
  }

  .battletris-map {
    text-align: center;

    canvas {
      border: 1px solid gray;
    }
  }

  .container-fluid {
    width: 100%;
    padding-right: 10px;
  }
}
