body.battletris {
  .nes-container {
    padding: 1.5rem 1rem;

    transition: .3s color, .3s background-color, .3s border-color;

    color: var(--nes-container-color);
    border-width: 2px;
    border-color: var(--nes-container-border);
    background-color: var(--nes-container-bg);

    & > .title {
      font-size: .8rem;

      margin: -1.65rem 0 1rem;
      padding: 0 .5rem;

      transition: .3s background-color;

      background-color: var(--nes-container-bg) !important;
    }
  }

  .nes-input,
  .nes-textarea {
    padding: .5rem .5rem;

    border-image-outset: 1;
  }

  .nes-select select {
    padding: .5rem 2.5rem .5rem 1rem;

    border-image-outset: 1;
  }
}
