.active-ability {
  background-color: var(--battletris-class-ability-color-active);
}

.ability-activator {
  line-height: 15px;

  position: absolute;
  top: 3px;
  left: 3px;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  background-color: gray;
}

.ability-costs {
  position: absolute;
  top: 3px;
  right: 5px;

  opacity: .5;
}

.ability-cooldown {
  position: absolute;
  top: 0;

  display: flex;

  width: 100%;
  height: 100%;

  background-color: rgba(58, 58, 58, .5);

  align-items: center;
  justify-content: center;
}
